
# Helpful Git notes:
#
# In Git Bash, use "git config core.autocrlf false" to avoid unwanted changes, especially to Java source files.
# You must do this for each project.

# ignore these directories
archive/
build/
dist/
DSP/
Rabbit/
Log Files/*.*
fpga/

# put miscellaneous files not to be tracked in this folder

Files Not Tracked by Git/

# use newfile for temporary stuff like using the block select in NetBeans on a text file

newfile.*

Thumbs.db

*.lock

# ignore any jar file which might be in the executable directory
*.jar

Error Messages.txt

# ignore any zip files in the executable directory
*.zip


Java Logger File*


# ignore all ini files
# these change frequently and it is not useful to propagate the changes to each developer
# for downloading the entire project from scratch, copies of these files can be found in Golden Copies of Configuration Files Etc

# we track ini files now -- *.ini


# all golden copies are tracked so they can be propagated between developers

!Golden Copies of Configuration Files Etc/*.*

# all unit installation files are tracked so a system can be restored

!Unit Installation Files/*.*

!Unit Installation Files/XXtreme/*.*

Unit Installation Files/*.zip