;
; 8 Channels; 2 boards; Chassis 0; Slot 0, 1 (labeled UT 1, UT 2 on backplane)
; 4 charts; 2 channels each; 2 traces each (I.D. & O.D.)
;

[General]
Language=English

[Miscellaneous]

[Main Configuration]
Job File Format=UTF-8
Job File Format=UTF-8
Main Window Title=IR Weldline Scan 8 Channel
Simulation Mode=true
Restart Each New Piece at Left Edge of Chart=true
Display Linear Speed=Yes
Display RPM=yes
Number Of Chart Groups=1
Number Of Oscope Groups=0

[Hardware]
Simulate Control Boards=true
Simulate UT Boards=false
Timer Driven Tracking=true
Entry Encoder Counts Per Pixel=1000
Exit Encoder CountsPer Pixel=1000
Pixel Real World Value=0.2
Pixel Units=Feet
Entry Encoder Cal=1.0
Exit Encoder Cal=1.0
; 0 = hardware, 1 = software
Encoder Source=1
Analog Input Driver Name=Capulin 1
Digital Input Driver Name=Capulin 1
Photo Eye To Entry Encoder Distance=1.0
Photo Eye To Exit Encoder Distance=10.0
UT FPGA Code Filename=main.bin
UT DSP Code Filename=CapulinUTDSP.hex
nS per Data Point=15.0
Number of UT Boards=2
Number of Analog Channels=8
Control Board IP Address=169.254.56.11

[UT Board in Chassis 0 Slot 0]
nS per Data Point=15.0
; for a 2K rep rate, enter 2000 - usually the same for all UT boards
; this is the rep rate for each channel, not overall rep rate
Pulse Rep Rate in Hertz=2000
;each pulse width count = 15ns - can be different for each UT board
;typical value is 15
Pulse Width=15
;pulse delay from trigger - can be different for each UT board
;delays the board's pulse from the sync - used to align pulsing among the boards
;typical value is 0
Pulse Delay=2
;sync width is the width of the pulse sent between UT boards to trigger pulsing
;typical value is 200 - adjust to make sure it triggers optoisolators
Sync Width=200
;number of banks in which the transducer firing is grouped
; usually the same for all UT boards
Number Of Banks=1
;only one board in the system can be the Pulse Sync Source
Board is Pulse Sync Source=true

[UT Board in Chassis 0 Slot 1]
nS per Data Point=15.0
; for a 2K rep rate, enter 2000 - usually the same for all UT boards
; this is the rep rate for each channel, not overall rep rate
Pulse Rep Rate in Hertz=2000
;each pulse width count = 15ns - can be different for each UT board
;typical value is 15
Pulse Width=15
;pulse delay from trigger - can be different for each UT board
;delays the board's pulse from the sync - used to align pulsing among the boards
;typical value is 0
Pulse Delay=2
;sync width is the width of the pulse sent between UT boards to trigger pulsing
;typical value is 200 - adjust to make sure it triggers optoisolators
Sync Width=200
;number of banks in which the transducer firing is grouped
; usually the same for all UT boards
Number Of Banks=1
;only one board in the system can be the Pulse Sync Source
Board is Pulse Sync Source=false

[Monitor]
Input 1 Text=Rotational Encoder 1 A
Input 2 Text=Rotational Encoder 1 B
Input 3 Text=Linear Encoder 2 A
Input 4 Text=Linear Encoder 2 B
Input 5 Text=Input 5 is unused
Input 6 Text=Input 6 is unused
Input 7 Text=Inspect Flag
Input 8 Text=On Pipe Flag
Input 9 Text=Top Dead Center Flag
Input 10 Text=Input 10 is unused
Encoder 1 Counter Text=Rotational Encoder
Encoder 2 Counter Text=Linear Encoder

[Chart Group 1]
Number Of Strip Charts=4
; joint, plate, tube, etc.
Name Of Pieces=Joint
Joint Label Color=Black
Single Column=true

[Chart Group 1 Strip Chart 1]
Title=Array 1
Short Title=A1
Number Of Traces=2
Number Of Thresholds=2
Width=1200
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black

[Chart Group 1 Strip Chart 1 Trace 1]
Title=Inside Diameter
Short Title=ID
Key Label=ID
Key X Position=100
Key Y Position=23
Color=Green
Distance Offset=0
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 1 Trace 2]
Title=Outside Diameter
Short Title=OD
Key Label=OD
Key X Position=160
Key Y Position=23
Color=Magenta
Distance Offset=1
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 1 Threshold 1]
Title=Major
Short Title=Maj
Flag On Over=true
Color=Red
Invert Threshold=true
Default Level=70

[Chart Group 1 Strip Chart 1 Threshold 2]
Title=Minor
Short Title=Min
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=30

[Chart Group 1 Strip Chart 2]
Title=Array 2
Short Title=A2
Number Of Traces=2
Number Of Thresholds=2
Width=1200
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black

[Chart Group 1 Strip Chart 2 Trace 1]
Title=Inside Diameter
Short Title=ID
Key Label=ID
Key X Position=100
Key Y Position=23
Color=Green
Distance Offset=0
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 2 Trace 2]
Title=Outside Diameter
Short Title=OD
Key Label=OD
Key X Position=160
Key Y Position=23
Color=Magenta
Distance Offset=1
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 2 Threshold 1]
Title=Major
Short Title=Maj
Flag On Over=true
Color=Red
Invert Threshold=true
Default Level=70

[Chart Group 1 Strip Chart 2 Threshold 2]
Title=Minor
Short Title=Min
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=30

[Chart Group 1 Strip Chart 3]
Title=Array 3
Short Title=A3
Number Of Traces=2
Number Of Thresholds=2
Width=1200
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black

[Chart Group 1 Strip Chart 3 Trace 1]
Title=Inside Diameter
Short Title=ID
Key Label=ID
Key X Position=100
Key Y Position=23
Color=Green
Distance Offset=0
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 2]
Title=Outside Diameter
Short Title=OD
Key Label=OD
Key X Position=160
Key Y Position=23
Color=Magenta
Distance Offset=1
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Threshold 1]
Title=Major
Short Title=Maj
Flag On Over=true
Color=Red
Invert Threshold=true
Default Level=70

[Chart Group 1 Strip Chart 3 Threshold 2]
Title=Minor
Short Title=Min
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=30

[Chart Group 1 Strip Chart 4]
Title=Array 4
Short Title=A4
Number Of Traces=2
Number Of Thresholds=2
Width=1200
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black

[Chart Group 1 Strip Chart 4 Trace 1]
Title=Inside Diameter
Short Title=ID
Key Label=ID
Key X Position=100
Key Y Position=23
Color=Green
Distance Offset=0
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 4 Trace 2]
Title=Outside Diameter
Short Title=OD
Key Label=OD
Key X Position=160
Key Y Position=23
Color=Magenta
Distance Offset=1
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 4 Threshold 1]
Title=Major
Short Title=Maj
Flag On Over=true
Color=Red
Invert Threshold=true
Default Level=70

[Chart Group 1 Strip Chart 4 Threshold 2]
Title=Minor
Short Title=Min
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=30

; Channels are not child entities of Traces because for some channels like UT it is actually the gates which are
; tied to a trace, such as ID and OD gates.  The trace is specified for each gate of a UT type trace while for non-UT
; channels a trace is specified for the channel itself.

-----------------------------

[Channel 1]
Title=1
Short Title=1
Chassis=0
Slot=0
Board Channel=1
Pulse Channel=1
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 1 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 1 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 2]
Title=2
Short Title=2
Chassis=0
Slot=0
Board Channel=2
Pulse Channel=2
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 2 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 2 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 3]
Title=3
Short Title=3
Chassis=0
Slot=0
Board Channel=3
Pulse Channel=3
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 3 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 3 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 4]
Title=4
Short Title=4
Chassis=0
Slot=0
Board Channel=4
Pulse Channel=4
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 4 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 4 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 5]
Title=5
Short Title=5
Chassis=0
Slot=1
Board Channel=1
Pulse Channel=1
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 5 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 5 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 6]
Title=6
Short Title=6
Chassis=0
Slot=1
Board Channel=2
Pulse Channel=2
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 6 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 6 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 7]
Title=7
Short Title=7
Chassis=0
Slot=1
Board Channel=3
Pulse Channel=3
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 7 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=4
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 7 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=4
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 8]
Title=8
Short Title=8
Chassis=0
Slot=1
Board Channel=4
Pulse Channel=4
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2

[Channel 8 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=4
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 8 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=4
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------
