
;
; Configuration Description
;
; Tejas UT Pup Joint Unit ~ 8 Channels
;
;  See [Configuration Info] section below
;  for details.
;

[General]
Language=English

[Configuration Info]

Number of Lines=23

Line   1=          Configuration Description
Line   2=
Line   3= Tejas UT Pup Joint Unit ~ 8 Channels
Line   4=   
Line   5=  2 longitudinal, 4 transverse, 2 wall
Line   6=
Line   7= 
Line   8= 
Line   9= 
Line  10= 
Line  11=
Line  12= Channels named with slot-connector:
Line  13= 0-1, 0-2, 1-3, 1-4, 2-1, 2-2,...
Line  14=
Line  15= Slot & Channel Assignments at the Chassis:
Line  16=   (slot 0 is on far right when viewing chassis from the rear)
Line  17=   (slot 0 is on far left when viewing chassis folded down) 
Line  18=
Line  19=	L1:0-1, L2:0-2
Line  20= 	W1:0-3, W2:0-4
Line  21=	T1:1-1, T2:1-2, T3:1-3, T4:1-4
Line  22=
Line  23=

[Miscellaneous]


[Main Configuration]
Main Window Title=IR Scan
Simulation Mode=false
Restart Each New Piece at Left Edge of Chart=false
Display Linear Speed=Yes
Display RPM=yes
Number Of Chart Groups=1
Number Of Oscope Groups=0
Copy to All Mode=0

[Data Output]

Wall Map File Format=IRNDT Binary

[Hardware]
Simulate Mechanical=true
Simulate Control Boards=true
Simulate UT Boards=true
Timer Driven Tracking=false

;rotary encoder for rotating piece units, entry encoder for through travel units 
Encoder 1 Inches Per Count=0.00301728787960515669669345703652
;linear encoder for rotating piece units, exit encoder for through travel units
Encoder 2 Inches Per Count=0.00301728787960515669669345703652

Encoder 1 Delta Count Trigger=110

Pixels per Inch=3

Pixel Units=Feet
Entry Encoder Cal=1.0
Exit Encoder Cal=1.0
; 0 = hardware, 1 = software
Encoder Source=1
Analog Input Driver Name=Capulin 1
Digital Input Driver Name=Capulin 1

;these photo eye distances uses when inspection piece passes through the unit
Photo Eye To Entry Encoder Distance=1.0
Photo Eye To Exit Encoder Distance=10.0

;these photo eye distances used when scan head pass over inspection piece
;
;Head 1 is the head which reaches the inspection piece first when the carriage is
; moving away from the operator's station (the "forward" direction).
;Head 2 is the second head to reach the piece, and so on.
;
;The front edge of the head is the edge which reaches the inspection piece first
;when the carriage is moving away from the operator's station (the "forward" direction).
;
;When each transducer has its own trace, the "Offset Distance" for each trace is the
;distance from each transducer to the front edge of the head -- a positive number.
;
;When several transducers are merged into a single trace, the "offset distance" will
;usually be from the front edge to the center of the group.
;
; All transducer to head edge distances are positive values of inch units.

;Photo Eye 1 is the photo eye which reaches the inspection piece first when the carriage
;is moving away from the operator's station (the "forward" direction).
;This distance is to the target point of the photo eye's beam, not the photo eye itself.
;This is important when the eye is angled such that the beam strikes at a point other
;than directly below the eye.
;
; All photo eye to head distances are positive values of inch units.

Photo Eye 1 Distance to Front Edge of Head 1=8
Photo Eye 1 Distance to Front Edge of Head 2=32

Photo Eye 2 Distance to Front Edge of Head 1=46
Photo Eye 2 Distance to Front Edge of Head 2=22

UT FPGA Code Filename=main.bin
UT DSP Code Filename=CapulinUTDSP.hex
nS per Data Point=15.0
Number of UT Boards=2
Number of Analog Channels=8

[Control Board in Chassis 0 Slot 10]

; "Send Clock Markers" / "Send TDC and Linear Markers"
Position Tracking Mode=Send Clock Markers

[UT Board in Chassis 0 Slot 0]
Enabled=true
Type=Basic Peak Collector
This Board is Source for Map Channel=-1
Board Channel for Map Data Source=0
Head for Map Data Sensor=1
Distance From Map Data Sensor to Front Edge of Head=0
Data Buffer Size=0
nS per Data Point=15.0
; for a 2K rep rate, enter 2000 - usually the same for all UT boards
; this is the rep rate for each channel, not overall rep rate
Pulse Rep Rate in Hertz=2000
;each pulse width count = 15ns - can be different for each UT board
;typical value is 15
Pulse Width=15
;pulse delay from trigger - can be different for each UT board
;delays the board's pulse from the sync - used to align pulsing among the boards
;typical value is 0
Pulse Delay=2
;sync width is the width of the pulse sent between UT boards to trigger pulsing
;typical value is 200 - adjust to make sure it triggers optoisolators
Sync Width=200
;number of banks in which the transducer firing is grouped
; usually the same for all UT boards
Number Of Banks=2
;only one board in the system can be the Pulse Sync Source
Board is Pulse Sync Source=true

[UT Board in Chassis 0 Slot 1]
Enabled=true
Type=Basic Peak Collector
This Board is Source for Map Channel=-1
Board Channel for Map Data Source=0
Head for Map Data Sensor=1
Distance From Map Data Sensor to Front Edge of Head=0
Data Buffer Size=0
nS per Data Point=15.0
; for a 2K rep rate, enter 2000 - usually the same for all UT boards
; this is the rep rate for each channel, not overall rep rate
Pulse Rep Rate in Hertz=2000
;each pulse width count = 15ns - can be different for each UT board
;typical value is 15
Pulse Width=15
;pulse delay from trigger - can be different for each UT board
;delays the board's pulse from the sync - used to align pulsing among the boards
;typical value is 0
Pulse Delay=2
;sync width is the width of the pulse sent between UT boards to trigger pulsing
;typical value is 200 - adjust to make sure it triggers optoisolators
Sync Width=200
;number of banks in which the transducer firing is grouped
; usually the same for all UT boards
Number Of Banks=2
;only one board in the system can be the Pulse Sync Source
Board is Pulse Sync Source=false

[Monitor]
Input 1 Text=Rotational Encoder 1 A
Input 2 Text=Rotational Encoder 1 B
Input 3 Text=Linear Encoder 2 A
Input 4 Text=Linear Encoder 2 B
Input 5 Text=Input 5 is unused
Input 6 Text=Input 6 is unused
Input 7 Text=Inspection Control Signal
Input 8 Text=Input 8 is unused
Input 9 Text=Top Dead Center Flag
Input 10 Text=Input 10 is unused
Encoder 1 Counter Text=Rotational Encoder
Encoder 2 Counter Text=Linear Encoder

[Chart Group 1]
Number Of Strip Charts=3
; joint, plate, tube, etc.
Name Of Pieces=Joint
Joint Label Color=Black
Single Column=true
Viewer Window Width=2000
Viewer Window Height=-1

----------

[Chart Group 1 Strip Chart 1]
Title=Wall
Short Title=Wall
Number Of Plotters=2
Type Of Plotters=Trace
Number Of Thresholds=3
Width=1880
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black
Display Running Value=true
Display Computed Value Represented by Cursor Position=true
Display Chart Height Percentage Represented by Cursor Position=false
Display Chart Linear Position Represented by Cursor Position=true
Display Minimum Wall From Last Finished Piece=true

;For this configuration, only one set of min/max traces was used for the wall.  The
;wall transducers are adjacent to each other, so the offset is minimal thus separate
;traces for each transducer are not necessary.

[Chart Group 1 Strip Chart 1 Trace 1]
Title=Max Wall
Short Title=Max
Key Label=Max
Key X Position=100
Key Y Position=23
Color=Green
Head=1
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=1.7
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 1 Trace 2]
Title=Min Wall
Short Title=Min
Key Label=Min
Key X Position=160
Key Y Position=23
Color=Magenta
Head=1
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=1.7
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=False
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 1 Threshold 1]
Title=Low Wall
Short Title=Lo
Flag On Over=false
Color=Red
Invert Threshold=true
Default Level=10

[Chart Group 1 Strip Chart 1 Threshold 2]
Title=High Wall
Short Title=Hi
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=90

[Chart Group 1 Strip Chart 1 Threshold 3]
Title=Nominal
Short Title=Nom
Do Not Flag - For Reference Only=true
Flag On Over=true
Color=Light Gray
Invert Threshold=true
Default Level=50

----------

;Each transducer has it's own ID/OD trace pair so they can be offset based on their
;physical location in the system, but they all use the same colors so it looks like
;only two traces.  Thus only two trace key names need to be displayed -- the first
;two.  The key tags for the remaining traces are not displayed by setting their key
;labels to "<not visible>" in this file.

[Chart Group 1 Strip Chart 2]
Title=Longitude
Short Title=Long
Number Of Plotters=4
Type Of Plotters=Trace
Number Of Thresholds=2
Width=1880
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black
Display Running Value=false
Display Computed Value Represented by Cursor Position=false
Display Chart Height Percentage Represented by Cursor Position=true
Display Chart Linear Position Represented by Cursor Position=true
Display Last Flagged Channel=true

[Chart Group 1 Strip Chart 2 Trace 1]
Title=LT-ID
Short Title=LT-ID
Key Label=ID
Key X Position=100
Key Y Position=23
Color=Green
Head=1
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=0.9
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 2 Trace 2]
Title=LT-OD
Short Title=LT-OD
Key Label=OD
Key X Position=160
Key Y Position=23
Color=Magenta
Head=1
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=0.9
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 2 Trace 3]
Title=LL-ID
Short Title=LL-ID
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Green
Head=1
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=2.7
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 2 Trace 4]
Title=LL-OD
Short Title=LL-OD
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Magenta
Head=1
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=2.7
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 2 Threshold 1]
Title=Major
Short Title=Maj
Flag On Over=true
Color=Red
Invert Threshold=true
Default Level=70

[Chart Group 1 Strip Chart 2 Threshold 2]
Title=Minor
Short Title=Min
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=30

----------

[Chart Group 1 Strip Chart 3]
Title=Transverse
Short Title=Trans
Number Of Plotters=8
Type Of Plotters=Trace
Number Of Thresholds=2
Width=1880
Height=100
Background Color=White
Grid Color=Black
; pixels
Grid X Spacing=10
Leading Mask=true
Trailing Mask=true
Mask Color=Black
Piece Separator Color=Black
Display Running Value=false
Display Computed Value Represented by Cursor Position=false
Display Chart Height Percentage Represented by Cursor Position=true
Display Chart Linear Position Represented by Cursor Position=true
Display Last Flagged Channel=true

[Chart Group 1 Strip Chart 3 Trace 1]
Title=TT1-ID
Short Title=TT1-ID
Key Label=ID
Key X Position=100
Key Y Position=23
Color=Green
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=3.2
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 2]
Title=TT1-OD
Short Title=TT1-OD
Key Label=OD
Key X Position=160
Key Y Position=23
Color=Magenta
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=3.2
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 3]
Title=TT2-ID
Short Title=TT2-ID
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Green
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=2.7
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 4]
Title=TT2-OD
Short Title=TT2-OD
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Magenta
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=2.7
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 5]
Title=TL1-ID
Short Title=TL1-ID
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Green
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=1.3
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 6]
Title=TL1-OD
Short Title=TL1-OD
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Magenta
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=1.3
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 7]
Title=TL2-ID
Short Title=TL2-ID
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Green
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=0.9
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Trace 8]
Title=TL2-OD
Short Title=TL2-OD
Key Label=<not visible>
Key X Position=0
Key Y Position=0
Color=Magenta
Head=2
Data Source Board Chassis=-1
Data Source Board Slot=-1
Distance From Sensor to Front Edge of Head=0.9
Number Of Data Points=2400
Invert Trace=true
Pixel Offset=0
Pixel Scaling=1.0
PreScaling = 1.0
PreOffset=0
Higher Signal is More Severe=True
; 0 = Point to Point, 1 = Stick, 2 = Span
Plot Style=0
; gamma should usually be used with Plot Style "Span"
; 0 = random spike, 1 = sawtooth, 2 = gamma
Simulation Data Type=0

[Chart Group 1 Strip Chart 3 Threshold 1]
Title=Major
Short Title=Maj
Flag On Over=true
Color=Red
Invert Threshold=true
Default Level=70

[Chart Group 1 Strip Chart 3 Threshold 2]
Title=Minor
Short Title=Min
Flag On Over=true
Color=Blue
Invert Threshold=true
Default Level=30

-------------------------------------------------------------------------------------------------

; Channels are not child entities of Traces because for some channels like UT it is actually the gates which are
; tied to a trace, such as ID and OD gates.  The trace is specified for each gate of a UT type trace while for non-UT
; channels a trace is specified for the channel itself.


-----------------------------

[Channel 1]

Title=LL
Short Title=LL
Detail=longitude leading ~ transducer 1 ~ slot 0, 1st BNC from top
Chassis=0
Slot=0
Board Channel=1
Pulse Channel=1
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2
Number Of DAC Gates=10

[Channel 1 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 1 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 2]

Title=LT
Short Title=LT
Detail=longitude trailing ~ transducer 2 ~ slot 0, 2nd BNC from top
Chassis=0
Slot=0
Board Channel=2
Pulse Channel=2
Pulse Bank=2

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2
Number Of DAC Gates=10

[Channel 2 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=3

[Channel 2 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=2
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=4

-----------------------------

[Channel 3]

Title=W1
Short Title=W1
Detail=wall ~ transducer 3 ~ slot 0, 3rd BNC from top
Chassis=0
Slot=0
Board Channel=3
Pulse Channel=3
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Wall
Number Of Gates=3
Number Of DAC Gates=10

[Channel 3 Gate 1]
Title=Interface
Short Title=IFace

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=true
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=false

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=-1

[Channel 3 Gate 2]
Title=First
Short Title=1st

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=true
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=false

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 3 Gate 3]
Title=Second
Short Title=2nd

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=true
; Gate is used to catch peaks for flaws
Flaw Gate=false

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=1

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 4]

Title=W2
Short Title=W2
Detail=wall ~ transducer 4 ~ slot 0, 4th BNC from top
Chassis=0
Slot=0
Board Channel=4
Pulse Channel=4
Pulse Bank=2

; Type = UT Shear, UT Wall, Other
Type=UT Wall
Number Of Gates=3
Number Of DAC Gates=10

[Channel 4 Gate 1]
Title=Interface
Short Title=IFace

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=true
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=false

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=-1

[Channel 4 Gate 2]
Title=First
Short Title=1st

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=true
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=false

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 4 Gate 3]
Title=Second
Short Title=2nd

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=true
; Gate is used to catch peaks for flaws
Flaw Gate=false

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=1

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=1
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------
-----------------------------

[Channel 5]

Title=TT1
Short Title=TT1
Detail=transverse trailing 1 ~ transducer 5 ~ slot 1, 1st BNC from top
Chassis=0
Slot=1
Board Channel=1
Pulse Channel=1
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2
Number Of DAC Gates=10

[Channel 5 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=1

[Channel 5 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=2

-----------------------------

[Channel 6]

Title=TT2
Short Title=TT2
Detail=transverse trailing 2 ~ transducer 6 ~ slot 1, 2nd BNC from top
Chassis=0
Slot=1
Board Channel=2
Pulse Channel=2
Pulse Bank=1

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2
Number Of DAC Gates=10

[Channel 6 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=3

[Channel 6 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=4

-----------------------------

[Channel 7]

Title=TL1
Short Title=TL1
Detail=transverse leading 1 ~ transducer 7 ~ slot 1, 3rd BNC from top
Chassis=0
Slot=1
Board Channel=3
Pulse Channel=3
Pulse Bank=2

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2
Number Of DAC Gates=10

[Channel 7 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=5

[Channel 7 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=6

-----------------------------

[Channel 8]

Title=TL2
Short Title=TL2
Detail=transverse leading 2 ~ transducer 8 ~ slot 1, 4th BNC from top
Chassis=0
Slot=1
Board Channel=4
Pulse Channel=4
Pulse Bank=2

; Type = UT Shear, UT Wall, Other
Type=UT Shear
Number Of Gates=2
Number Of DAC Gates=10

[Channel 8 Gate 1]
Title=ID
Short Title=ID

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=7

[Channel 8 Gate 2]
Title=OD
Short Title=OD

; Interface Gate - gate used to detect and track the interface - only one gate per channel should be true
Interface Gate=false
; First gate to use for measuring wall - only one gate per channel should be true
Wall Start Gate=false
; Second gate to use for measuring wall - only one gate per channel should be true
Wall End Gate=false
; Gate is used to catch peaks for flaws
Flaw Gate=true

; Trigger = 0 or 1 (0 if data to be flagged if it goes above the gate, 1 for the opposite case)
Trigger Direction=0
; Peak = 0 or 1 (0 if a higher signal is worse than a lower signal, 1 for the opposite case)
Peak Direction=0

; Chart Group containing chart for displaying data from the gate
Chart Group=1
; Chart for displaying data from the gate
Chart=3
; Trace for displaying data from the gate or -1 if the data is to be flagged and recorded but not displayed
Trace=8

-----------------------------
-----------------------------
-----------------------------